
.input{
    margin-left: 300px;
    margin-top: 50px;
    font-size: 28px;
    padding: 15px 20px;
    border: 1px solid plum;
    border-radius: 20px;
    width: 400px;
}
.btn{
    margin-left: 10px;
    padding: 15px 20px;
    font-size: 28px;
    border: none;
    background-color: plum;
    color: beige;
    border-radius: 20px;
    cursor: pointer;
}

.list{
    margin-left: 270px;
    font-family: sans-serif;
    font-size: 28px;
    list-style-type: disc;
    width: 470px;
}
.item{
    margin-bottom: 10px;
    padding: 10px 0;
    
}